@media (max-width: 1760px) {
   .hero-image {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 80%;
}
}

/* ================= ≤ 1400px ================= */
@media (max-width: 1400px) {
  .header-inner,
  .top-bar {
    padding-left: 24px;
    padding-right: 24px;
  }
   .hero-wrapper {
    padding-right: 0;
  }

  .hero-image {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 90%;
}
   .img-text-wrapper {
    gap: 50px;
  }
  .expertise-cards {
    gap: 90px;
  }
  .applications-section {
    padding: 100px 60px;
  }
  .footer-container {
    padding: 0 4%;
    gap: 50px;
  }

  .footer-col {
    max-width: 360px;
  }
}



@media(max-width:1024px){
      .hero-image {
  position: absolute !important;
  right: 0 !important;
  bottom: 15px !important;
  width: 80% !important;
  height: auto;
}

.hero-section{
  height: 50vh;
  min-height: auto;
}
}

@media (max-width: 1024px) and (orientation: landscape) {
  .hero-section{
  height: 70vh;
  min-height: auto;
}

      .hero-image {
  position: absolute !important;
  right: 0 !important;
  bottom: 15px !important;
  width: 60% !important;
  height: auto;
}

}

/* ================= ≤ 1200px ================= */
@media (max-width: 1200px) {
  .nav-links {
    gap: 28px;
  }

  .logo-main {
    font-size: 30px;
  }

  .top-bar {
    font-size: 15px;
  }
   .hero-content {
    max-width: 360px;
  }

    .hero-image {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 100%;
}
   .img-text-wrapper {
    gap: 100px;
  }

  .img-text-section {
    padding: 70px 0;
  }
  .expertise-cards {
    gap: 70px;
  }

  .expertise-card {
    width: 260px;
  }

  .expertise-card img {
    width: 240px;
  }
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;
    padding: 40px 5%;
  }

  .footer-col {
    width: 48%;
    max-width: none;
  }

  .social-icons-row {
    gap: 24px;
  }

.text-box.has-gradient::after{
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 150%;
}
}

@media(max-width:992px){
      .hero-image {
  position: absolute !important;
  right: 0 !important;
  bottom: 15px !important;
  width: 75% !important;
}
}

/* ================= ≤ 990px ================= */
@media (max-width: 990px) {
  .top-bar {
    display: none;
  }

  .nav-links,
  .enquire-btn {
    display: none;
  }

  .menu-btn {
    display: block;
    margin-top: 0.5rem;
  }

  .header-inner {
    padding: 14px 20px;
  }
  .hero-section {
    min-height: auto;
    padding: 80px 6%;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content {
    margin: 2rem;
    max-width: 100%;
   position: relative;
    top: auto;
    left: auto;
    transform: none;     
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
  }

  .hero-image {
    display: none;
  }


  .hero-section .section-heading {
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
  }

  .hero-section .section-subheading {
    font-size: 15px;
     text-align: center;
  }

  .section-divider{
    display: none;
  }
   .img-text-wrapper {
    flex-direction: column-reverse;
    gap: 48px;
  }

  .text-box {
    text-align: center;
  }

  .img-box,
  .text-box {
    width: 80%;
    margin: auto;
  }
   .expertise-section {
    padding: 80px 0;
  }

  .expertise-cards {
    gap: 48px;
  }
    .footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 30px;
    padding: 40px 5%;
    justify-content: center;
    text-align: center;
  }

  .footer-col {
    width: 48%;
    max-width: none;
  }

  .social-icons-row {
    gap: 24px;
    justify-content: center;
  }
  .text-box.has-gradient::after{
  display: none;
}
}

/* ================= ≤ 768px ================= */
@media (max-width: 768px) {
  .logo-main {
    font-size: 28px;
  }

  .header-inner {
    padding: 12px 16px;
  }

  .hero-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content {
    margin: 2rem;
    max-width: 100%;
   position: relative;
    top: auto;
    left: auto;
    transform: none;     
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
  }

  .hero-image{
    display: none;
  }

  .hero-section .section-heading {
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
  }

  .hero-section .section-subheading {
    font-size: 15px;
     text-align: center;
  }
   .img-text-section {
    padding: 60px 0;
  }

  .img-text-wrapper {
    gap: 36px;
  }

  .expertise-cards {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .expertise-card {
    width: 280px;
  }

  .expertise-card img {
    width: 260px;
  }
.footer-container {
    gap: 30px;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .footer-col h2 {
    font-size: 18px;
  }

  .footer-col p,
  .footer-col li {
    font-size: 15px;
  }
  .social-icons-row{
    justify-content: center;
  }
  
  .section-divider{
    display: none;
  }
}

/* ================= ≤ 576px ================= */
@media (max-width: 576px) {
  .logo-main {
    font-size: 26px;
  }

  .sidebar-nav a {
    font-size: 15px;
  }
   .hero-section {
    padding: 64px 5%;
    
  }

  .hero-section .section-heading {
    font-size: 26px;
    line-height: 1.35;
  }

  .hero-image img {
    margin-top: 8rem;
  }
    .img-text-section {
    padding: 48px 0;
  }

  .img-text-wrapper {
    padding: 0 16px;
    gap: 28px;
  }

  .expertise-section {
    padding: 64px 0;
  }

  .sub-title {
    font-size: 16px;
  }

  .expertise-card h3 {
    font-size: 20px;
  }

  .frame-box {
    width: 220px;
    height: 180px;
  }

  .expertise-card img {
    width: 240px;
    top: 110px;
  }
.footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .footer-col {
    width: 100%;
    align-items: center;
  }

  .footer-col ul {
    align-items: center;
  }

  .social-icons-row {
    justify-content: center;
  }

  .footer-bottom {
    font-size: 14px;
    padding: 12px 10px;
  }
 
  .section-heading {
    font-size: 26px;
  }

  .section-text {
    font-size: 14px;
  }
}
